@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="Shared/_CheepBoxPartial" model="Model.CheepInput" />

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                        @if (User.Identity!.IsAuthenticated && User.Identity.Name != cheep.Author)
                        {   
                            @if (1 == 1)
                            {
                                <form method="post" asp-page-handler="Follow">
                                <input type="hidden" name="followedAuthor" value="@cheep.Author" />
                                <button type="submit">Follow</button>
                                </form>
                            } 
                            else if (2 == 3) 
                            {
                                <form method="post" asp-page-handler="Unfollow">
                                <input type="hidden" name="cheepId" value="" />
                                <button type="submit">Unfollow</button>
                                </form>
                            }
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
