@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    ViewData["FollowerMap"] = Model.FollowerMap;
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="Shared/_CheepBoxPartial" model="Model.CheepInput" />

    @if (Model.Cheeps.Any())
    {
        <partial name="Shared/_CheepsTimelinePartial" model="Model.Cheeps" />
    } 
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @if (await Model.NextPageHasCheeps(Model._currentPage))
    {
        <form method="get">
            <input type="hidden" name="page" value="@(Model._currentPage+1)" />
            <button type="submit">Next Page</button>
        </form>
    }
    <input type="hidden" name="page" value="@(Model._currentPage+1)" />
    <button type="submit">Page @Model._currentPage</button>
    @if (Model._currentPage > 1)
    {
        <form method="get">
            <input type="hidden" name="page" value="@(Model._currentPage-1)" />
            <button type="submit">Previous page</button>
        </form>
    }
</div>
