@page "/SubmitMessage"
@model Chirp.Web.Pages.SubmitMessageModel

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Cheep Sent!</title>
</head>
<body>
<div>
    
</div>
</body>
</html>