@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    ViewData["FollowerMap"] = Model.FollowerMap;
    ViewData["LikeMap"] = Model.LikeMap;
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="Shared/_CheepBoxPartial" model="Model.CheepInput" />

    @if (Model.Cheeps.Any())
    {
        <partial name="Shared/_CheepsTimelinePartial" model="Model.Cheeps" />
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>