@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    ViewData["FollowerMap"] = Model.FollowerMap;
    ViewData["LikeMap"] = Model.LikeMap;
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    <div class="follower-count">
        @Model.followerCount Followers
    </div>

    <partial name="Shared/_CheepBoxPartial" model="Model.CheepInput" />

    @if (Model.Cheeps.Any())
    {
    <partial name="Shared/_CheepsTimelinePartial" model="Model.CheepTimelineModel" />
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
</div>

<div class="pagination">
    @if (Model._currentPage > 1)
    {
        <form method="get" class="paginationButton">
            <input type="hidden" name="page" value="@(Model._currentPage - 1)"/>
            <button type="submit">Previous Page</button>
        </form>
    }
    <div class="paginationButton">
        <button type="submit">Current page @Model._currentPage</button>
    </div>
    @if (Model._nextPageHasCheeps)
    {
        <form method="get" class="paginationButton">
            <input type="hidden" name="page" value="@(Model._currentPage + 1)"/>
            <button type="submit">Next Page</button>
        </form>
    }
</div>