body {
    background: #eccaca;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}


div.page {
    background: white;
    border: 1px solid #cc6e6e;
    width: 700px;
    margin: 30px auto;
    padding: 10px;
}

div.page > h1 {
    background: #cc6e6e;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #772424;
    font-weight: normal;
    font-size: 80px;
}

h1 {
    color: #571010;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px #ccc;
}

h2 {
    color: #571010;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-shadow: 0 1px 2px #ccc;
}

label {
    font-size: 1rem;
    color: #571010;
    margin-left: 10px;
}

.form-floating input.form-control {
    width: 97%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #cc6e6e;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f9f1f1;
}

.form-floating input.form-control:focus {
    border-color: #cc6e6e;
    outline: none;
    box-shadow: 0 0 5px rgba(204, 110, 110, 0.5);
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    margin-left: 10px;
}

#registerSubmit, #login-submit {
    background-color: #cc6e6e;
    color: white;
}

#registerSubmit, #loginSubmit, .provider-button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s;
}

#registerSubmit:hover {
    background-color: #a65252;
}

section h3 {
    color: #571010;
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px #ccc;
}

section {
    margin-top: 20px;
}

section p {
    font-size: 0.9rem;
    color: #888;
}

.provider-logo {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle; 
}

.github-button {
    background-color: #333;
    color: white;
}


.github-button:hover {
    background-color: #111;
}

@media (max-width: 768px) {
    div.page {
        width: 90%;
        padding: 10px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}
