@model Chirp.Web.Pages.CheepViewModel

@if (User.Identity!.IsAuthenticated)
{
    <div class="cheepbox">
        <h3>What's on your mind @(User.Identity.Name)?</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input style="width: 100%; box-sizing: border-box;" type="text" asp-for="Message" class="form-control" >
            <div style="display: flex; justify-content: space-between">
                <div><span asp-validation-for="Message"></span></div>
                <div><input type="submit" value="Share"></div>
            </div>
        </form>
    </div>
}