@using Chirp.Core
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<div class=navigation>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <li>
                <a href="/@(User.Identity.Name)">my timeline</a> |
            </li>
            <a href="/">public timeline</a> |
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" style="display:inline;">
                <button type="submit" class="btn btn-link p-0">logout [@(User.Identity?.Name)]</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a asp-area="Identity" asp-page="/Account/Register">register</a> |
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
        </div>
    }
</div>