@model Chirp.Web.Pages.PaginationModel

@if (await Model.NextPageHasCheeps(Model._currentPage))
{
    <form method="get">
        <input type="hidden" name="page" value="@(Model._currentPage+1)" />
        <button type="submit">Next Page</button>
    </form>
}
<input type="hidden" name="page" value="@(Model._currentPage+1)" />
<button type="submit">Page @Model._currentPage</button>
@if (Model._currentPage > 1)
{
    <form method="get">
        <input type="hidden" name="page" value="@(Model._currentPage-1)" />
        <button type="submit">Previous page</button>
    </form>
}